<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.webyahime.api.mapper.StreamMapper">
    <!-- 登録した配信情報をRETURNINGにて取得するためselectとして定義 -->
    <select id="create" resultType="long">
        INSERT INTO
            t_stream (
                title,
                overview,
                category_id,
                user_id
            )
        VALUES
            (#{title}, #{overview}, #{categoryId}, #{userId})
        RETURNING stream_id
    </select>

    <select id="findByUserId" resultType="jp.webyahime.api.dto.StreamListDto">
        SELECT
            ts.stream_id,
            ts.title,
            mc.category_name,
            ts.entry_datetime
        FROM
            t_stream ts
            JOIN m_category mc 
                ON ts.category_id = mc.category_id
        WHERE
            ts.user_id = #{userId}
            AND ts.delete_flag = FALSE
            AND mc.delete_flag = FALSE;
    </select>

    <select id="findByStreamId" resultType="jp.webyahime.api.dto.StreamDetailDto">
        SELECT
            ts.stream_id,
            ts.title,
            ts.overview,
            ts.category_id,
            mc.category_name,
            ts.entry_datetime
        FROM
            t_stream ts
            JOIN m_category mc 
                ON ts.category_id = mc.category_id
        WHERE
            ts.stream_id = #{streamId}
            AND ts.delete_flag = FALSE
            AND mc.delete_flag = FALSE;
    </select>

    <update id = "delete">
        UPDATE t_stream
        SET delete_flag = TRUE
        WHERE stream_id = #{streamId}
            AND delete_flag = FALSE
    </update>


</mapper>